<launch>
  <arg name="uuv_name" default="x3_rov"/>
  <arg name="output_topic" default="cmd_vel"/>
  <!-- The type of message can also be geometry_msgs/Accel -->
  <arg name="message_type" default="twist"/>

  <node pkg="rov_hil" 
    type="x3_teleop_keyboard_pynput.py" 
    name="x3_teleop_keyboard" 	
    output="screen">
    <remap from="output" to="/$(arg uuv_name)/$(arg output_topic)"/>
    <rosparam subst_value="true">
      type: $(arg message_type)
    </rosparam>
  </node>

  <node pkg="rov_hil" 
    type="x3_teleop_twist_thruster.py" 
    name="x3_teleop_twist_thruster" 	
    output="screen">
  </node>

  <node pkg="rov_hil" 
    type="x3_camera.py" 
    name="x3_camera" 	
    output="screen">
  </node>
</launch>
