<launch>

  
  <arg name="model" default=""/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find rov_hil)/urdf/x3_v1.xacro'" />

  <!-- Launch GUI for changing joint values -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"
     name="joint_state_publisher_gui" output="screen"/>
  
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_mira)/rviz_config/urdf.rviz"/>-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rov_hil)/rviz_config/default.rviz"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args=""/> -->
</launch>