<launch>
  <arg name="uuv_name" default="x3_rov"/>

  <!-- ROV initial position -->
  <arg name="x" default="2"/>
  <arg name="y" default="-2"/>
  <arg name="z" default="-56"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <node pkg="x3_sim" 
    type="x3_publish_model_state.py" 
    name="x3_model_state"
    output="screen">
    <rosparam subst_value="true">
      x: $(arg x)
      y: $(arg y)
      z: $(arg z)
      roll: $(arg roll)
      pitch: $(arg pitch)
      yaw: $(arg yaw)
    </rosparam>
  </node>

  <!-- Trajectory ground truth -->
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_x3_sim" output="screen" ns="ground_truth" >
      <param name="/target_frame_name" value="/world" />
      <param name="/source_frame_name" value="/x3_rov" />
      <param name="/trajectory_update_rate" value="20.0" />
      <param name="/trajectory_publish_rate" value="20.0" />
  </node>
</launch>
