<launch>
  <arg name="uuv_name" default="x3_rov"/>
  <arg name="output_topic" default="cmd_vel"/>

  <include file="$(find x3_description)/launch/start_thruster_manager.launch">
    <arg name="reset_tam" value="false"/>
  </include>

  <!-- create publish to simulation node -->
  <node pkg="x3_description" 
    type="publish_cmd_simulation.py" 
    name="publish_cmd_simulation" 	
    output="screen">
  </node>  

  <!-- create keyboard input node -->
  <node pkg="x3_description" 
    type="teleop_keyboard_pynput.py" 
    name="teleop_keyboard" 	
    output="screen">
    <!-- <remap from="output" to="/$(arg uuv_name)/$(arg output_topic)"/>
    <rosparam subst_value="true">
      type: $(arg message_type)
    </rosparam> -->
  </node>


  <node pkg="x3_description" 
    type="camera_control.py" 
    name="camera_control" 	
    output="screen">
  </node>
</launch>
