<launch>

  <arg name="only_rviz" default="true"/>
  <arg name="rviz_conf" default="default.rviz"/>
  <arg name="urdf_file" default="x3_v2.xacro"/>


  <param name="robot_description" command="$(find xacro)/xacro '$(find x3_sim)/urdf/$(arg urdf_file)'" />

  <!-- Launch GUI for changing joint values -->
  <node if="$(arg only_rviz)" 
    pkg="joint_state_publisher_gui" 
    type="joint_state_publisher_gui"
    name="joint_state_publisher_gui" 
    output="screen">
  </node>
  
  <!-- Combine joint values -->
  <node unless="$(arg only_rviz)" 
    name="joint_state_publisher" 
    pkg="joint_state_publisher" 
    type="joint_state_publisher">
  </node>

  <!-- Robot state publisher subscribes to the custom joint state publisher -->
  <node if="$(arg only_rviz)" 
      name="robot_state_publisher" 
      pkg="robot_state_publisher" 
      type="robot_state_publisher">
  </node>

  <!-- Controller -->
  <include if="$(arg only_rviz)"
    file="$(find x3_sim)/launch/joint_state_controller.launch">
  </include>

  <!-- Show in Rviz   -->
  <node name="rviz" 
    pkg="rviz" 
    type="rviz" 
    args="-d $(find x3_sim)/rviz_config/$(arg rviz_conf)">
  </node>

</launch>