<?xml version="1.0"?>
<launch>
    <arg name="paused" default="false"/>
    <arg name="world_name" default="empty_underwater_world.launch"/>
    <arg name="publish_ground_truth" default="true"/>
    <arg name="include_rviz" default="false"/>
    <arg name="start_teleop" default="true"/>

    <!-- ROV initial position -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-18"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="imu" default="0"/>

    <!-- Load world -->
    <include file="$(find x3_description)/launch/$(arg world_name)">
        <arg name="paused" default="false"/>
        <arg name="gui" default="false"/>
        <arg name="headless" default="true"/>
        <arg name="verbose" default="false"/>
    </include>

    <!-- Upload model -->
    <include file="$(find x3_description)/launch/upload.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!-- Publish model state (ground truth) -->
    <include if="$(arg publish_ground_truth)" file="$(find x3_description)/launch/ground_truth.launch">
        <arg name="uuv_name" value="x3"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
        <arg name="imu" value="$(arg imu)"/>
    </include>

    <!-- Rqt -->
    <node name="rqt_dashboard" 
        pkg="rqt_gui" 
        type="rqt_gui"
        respawn="false" 
        output="screen"
        args="">
    </node>

    <!-- Rviz -->
    <include if="$(arg include_rviz)" file="$(find x3_description)/launch/rviz.launch">
        <arg name="only_rviz" value="false"/>
        <arg name="rviz_conf" value="camera.rviz"/>
        <arg name="urdf_file" value="$(arg urdf_file)"/>
    </include>

    <!-- Teleop -->
    <include if="$(arg start_teleop)" file="$(find x3_description)/launch/ue_teleop.launch"/>
</launch>
